<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FakeSystemUpdate">

        <activity
            android:name=".OnboardingActivity"
            android:exported="true"
            android:theme="@style/Theme.FakeSystemUpdate.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SetupActivity"
            android:exported="false" />

        <activity
            android:name=".FakeUpdateActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:theme="@style/Theme.FakeUpdate" />

        <activity
            android:name=".UpdateCompleteActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FakeUpdate" />

        <activity
            android:name=".RevealActivity"
            android:exported="false"
            android:theme="@style/Theme.Reveal" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false" />

        <activity
            android:name=".TermsActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
